<div id="projetos" class="projetos">
  <h3 class="title">Projetos em Destaque</h3>
  <p class="descricao">
    Alguns dos projetos que desenvolvi utilizando as mais modernas tecnologias
  </p>
  <div class="card-container">
    <div class="card">
      <p class="card-title">E-commerce Mobile App</p>
      <p class="card-descricao">
        Aplicativo de e-commerce completo desenvolvido em React Native com Expo,
        incluindo carrinho de compras, pagamentos e autenticação.
      </p>

      <ul class="card-list">
        <li class="card-list-item">React Native</li>
        <li class="card-list-item">Expo</li>
        <li class="card-list-item">Typescript</li>
        <li class="card-list-item">Async Storage</li>
        <li class="card-list-item">Context API</li>
      </ul>

      <div class="card-buttons">
        <button class="github-button">
          <i class="fa-brands fa-github"></i>
          Código
        </button>
        <button class="demo-button">
          <i class="fa fa-external-link"></i> Demo
        </button>
      </div>
    </div>
    <div class="card">
      <p class="card-title">E-commerce Mobile App</p>
      <p class="card-descricao">
        Aplicativo de e-commerce completo desenvolvido em React Native com Expo,
        incluindo carrinho de compras, pagamentos e autenticação.
      </p>
      <ul class="card-list">
        <ul class="card-list">
          <li class="card-list-item">React Native</li>
          <li class="card-list-item">Expo</li>
          <li class="card-list-item">Typescript</li>
          <li class="card-list-item">Async Storage</li>
          <li class="card-list-item">Context API</li>
        </ul>
      </ul>
      <div class="card-buttons">
        <button class="github-button">
          <i class="fa-brands fa-github"></i>
          Código
        </button>
        <button class="demo-button">
          <i class="fa fa-external-link"></i> Demo
        </button>
      </div>
    </div>
  </div>
</div>
