<body>
 <app-informacoes-pessoais></app-informacoes-pessoais>
 <app-projetos></app-projetos>
  <div class="habilidades_tecnicas">
    <h4>Habilidades Técnicas</h4>
    <p>Tecnologias e ferramentas que domino para criar soluções completas</p>
    <div class="frond_end">
      <ul>
        <li>React</li>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS3</li>
      </ul>
    </div>
    <div class="back_end">
      <ul>
        <li>NodeJs</li>
        <li>Typescript</li>
        <li>Express.js</li>
        <li>RESTful APIs</li>
      </ul>
    </div>
    <div class="mobile">
      <ul>
        <li>React Native</li>
        <li>Expo</li>
        <li>Typescript</li>
        <li>AsyncStorage</li>
      </ul>
    </div>
    <div class="outros">
      <ul>
        <li>SQL Server</li>
        <li>PostgreSQL</li>
        <li>Git</li>
        <li>Postman</li>
      </ul>
    </div>
  </div>
  <div class="vamos_conversar">
    <h5>Vamos Conversar?</h5>
    <p>
      Estou sempre aberto a novas oportunidades e projetos interessantes. Entre
      em contato para discutirmos como posso ajudar!
    </p>
    <div class="redes_sociais">
      <div class="card_rede_social">
        <button>
          <i>Email</i>
          E-mail
        </button>
        <p>email-email.com</p>
      </div>
      <div class="card_rede_social">
        <button>
          <i>Github</i>
          GitHub
        </button>
        <p>-github.com</p>
      </div>
      <div class="card_rede_social">
        <button>
          <i>Linkdlin</i>
          Linkdlin
        </button>
        <p>-linkdlin.com</p>
      </div>
    </div>
  </div>
  <div class="contato">
    <p>Pronto para começar um projeto?</p>
    <p>
      Vamos transformar sua ideia em realidade com tecnologias modernas e
      eficientes.
    </p>
    <button>Entrar em contato</button>
  </div>
</body>
