<body>
 <app-informacoes-pessoais></app-informacoes-pessoais>
 <app-projetos></app-projetos>
<app-habilidades></app-habilidades>
  <div class="vamos_conversar">
    <h5>Vamos Conversar?</h5>
    <p>
      Estou sempre aberto a novas oportunidades e projetos interessantes. Entre
      em contato para discutirmos como posso ajudar!
    </p>
    <div class="redes_sociais">
      <div class="card_rede_social">
        <button>
          <i>Email</i>
          E-mail
        </button>
        <p>email-email.com</p>
      </div>
      <div class="card_rede_social">
        <button>
          <i>Github</i>
          GitHub
        </button>
        <p>-github.com</p>
      </div>
      <div class="card_rede_social">
        <button>
          <i>Linkdlin</i>
          Linkdlin
        </button>
        <p>-linkdlin.com</p>
      </div>
    </div>
  </div>
  <div class="contato">
    <p>Pronto para começar um projeto?</p>
    <p>
      Vamos transformar sua ideia em realidade com tecnologias modernas e
      eficientes.
    </p>
    <button>Entrar em contato</button>
  </div>
</body>
