<div id="contato" class="vamos_conversar">
  <h5 class="title">Vamos Conversar?</h5>
  <p class="descricao">
    Estou sempre aberto a novas oportunidades e projetos interessantes. Entre em contato para discutirmos como posso ajudar!
  </p>
  <div class="redes_sociais">
    <div class="card_rede_social email">
      <a href="mailto:gersongabriel_@hotmail.com" target="_blank">
        <button><i class="fa fa-envelope"></i></button>
      </a>
      <p>&#64;email.com</p>
    </div>
    <div class="card_rede_social">
      <a href="https://github.com/gabrielmdss" target="_blank">
        <button><i class="fa-brands fa-github"></i></button>
      </a>
      <p>&#64;gabrielmdss</p>
    </div>
    <div class="card_rede_social linkedin">
      <a href="https://linkedin.com/in/gabrielmendesdeveloper" target="_blank">
        <button><i class="fa-brands fa-linkedin"></i></button>
      </a>
      <p>&#64;gabrielmendesdeveloper</p>
    </div>
  </div>
</div>
<div class="contato">
  <p>Pronto para começar um projeto?</p>
  <p>
    Vamos transformar sua ideia em realidade com tecnologias modernas e
    eficientes.
  </p>
  <button>
    <a href="mailto:gersongabriel_@hotmail.com"> Entrar em contato </a>
  </button>
</div>
