<div class="habilidades_tecnicas">
  <h1 class="title">Habilidades Técnicas</h1>
  <p class="descricao">
    Tecnologias e ferramentas que domino para criar soluções completas
  </p>
  <div class="card-container">
    <div class="card frond_end">
      <h2>Front-end</h2>
      <ul>
        <li>React</li>
        <li>Typescript</li>
        <li>Javascript</li>
        <li>HTML5</li>
        <li>CSS3</li>
      </ul>
    </div>
    <div class="card back_end">
      <h2>Back-end</h2>
      <ul>
        <li>NodeJs</li>
        <li>Typescript</li>
        <li>Express.js</li>
        <li>RESTful APIs</li>
      </ul>
    </div>
    <div class="card mobile">
      <h2>Mobile</h2>
      <ul>
        <li>React Native</li>
        <li>Expo</li>
        <li>Typescript</li>
        <li>AsyncStorage</li>
      </ul>
    </div>
    <div class="card outros">
      <h2>Outros</h2>
      <ul>
        <li>SQL Server</li>
        <li>PostgreSQL</li>
        <li>Git</li>
        <li>Postman</li>
      </ul>
    </div>
  </div>
</div>
