<div class="habilidades_tecnicas">
  <h1 class="title">Habilidades Técnicas</h1>
  <p class="descricao">
    Tecnologias e ferramentas que domino para criar soluções completas
  </p>
  <div class="card-container">
    <div class="card frond_end">
      <h2>Front-end</h2>
      <ul class="card-lista">
        <li class="card-lista-front">Angular</li>
        <li class="card-lista-front">React</li>
        <li class="card-lista-front">Typescript</li>
        <li class="card-lista-front">Javascript</li>
      </ul>
    </div>
    <div class="card back_end">
      <h2>Back-end</h2>
      <ul class="card-lista">
        <li class="card-lista-back">NodeJs</li>
        <li class="card-lista-back">Typescript</li>
        <li class="card-lista-back">Express.js</li>
        <li class="card-lista-back">RESTful APIs</li>
      </ul>
    </div>
    <div class="card mobile">
      <h2>Mobile</h2>
      <ul class="card-lista">
        <li class="card-lista-mobile">React Native</li>
        <li class="card-lista-mobile">Expo</li>
        <li class="card-lista-mobile">Typescript</li>
        <li class="card-lista-mobile">AsyncStorage</li>
      </ul>
    </div>
    <div class="card outros">
      <h2>Outros</h2>
      <ul class="card-lista">
        <li class="card-lista-outros">SQL Server</li>
        <li class="card-lista-outros">PostgreSQL</li>
        <li class="card-lista-outros">Git</li>
        <li class="card-lista-outros">Postman</li>
      </ul>
    </div>
  </div>
</div>
